#payment{
    b{
        text-transform: capitalize;
    }
    table{
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
        margin: 5px 0;
        padding: 5px;
        th{
            text-align: left;
        }
    }
    #chosen-card{
        opacity: 1;
        visibility: initial;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        transition: opacity 0.3s, visibility 0.3s;
        img{
            width: 50px;
        }
        &.display-none{
            opacity: 0;
            visibility: hidden;
            height: 0;
            padding: 0;
            border: 0;
            overflow: hidden;
        }
    }
    #change-card-field{
        opacity: 1;
        padding: 10px;
        border: 1px solid purple;
        box-sizing: border-box;
        width: 100%;
        transition: opacity 0.3s, visibility 0.3s;
        &.display-none{
            opacity: 0;
            visibility: hidden;
            height: 0;
            padding: 0;
            border: 0;
            overflow: hidden;
        }
    }

    //form control for modal, added seperately from the modal.scss
    .add-card-form{
        width: 100%;
        font-size: 1.1em;
        &, & *{
            box-sizing: border-box;
        }

        .form-row-control{
            width: 100%;
            display: flex;
            border: 1px solid purple;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            &:not(.exp-date){
                flex-wrap: wrap;
            }
            input, select, legend{
                font-family: inherit;
                font-size: inherit;
                flex-shrink: 0;
            }
            input{
                width: 100%;
                &[type=text]{
                    border: none;
                }
                &.exp-month{
                    width: 40px; 
                }
                &.exp-year{
                    width: 60px;
                }
            }
            legend{
                width: 100%;
                font-size: 0.7em;
                font-weight: bold;
                &[for=exp], &[for=type]{
                    width: auto;
                }

            }

        }
    }

}
