#payment{
    .no-chosen-gcard{
        background: lightyellow;
        padding: 10px;
        font-weight: 1.2em;
    }
    > div{
        border: 1px solid indigo;
        flex-wrap: wrap;
    }
    .card-img, .gcard-img{
        margin-right: 10px;
        border: 1px solid lighten(indigo,60);
    }
    button{
        padding: 10px;
    }
    b{
        text-transform: capitalize;
        font-weight: 500;
        margin-right: 10px;
    }
    table{
        border-radius: 5px;
        width: 100%;
        margin: 5px 0;
        border-spacing: 0;
        thead{
            background: indigo;
            color: white;
        }
        th{
            text-align: left;
            padding: 10px;
            font-weight: 500;
        }
        td{
            padding: 5px;
        }
    }
    #chosen-card{
        opacity: 1;
        visibility: initial;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        transition: opacity 0.3s, visibility 0.3s;
        display: flex;
        flex-wrap: wrap;
        div{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            width: 100%;
        }
        .giftcard-payment{
            display: flex;
            flex-wrap: wrap;
            .chosen-gift-card{
                width: 100%;
                display: flex;
                align-items: center;
                .gcard-name{
                    color: indigo;
                    font-weight: 500;
                }
            }
        }
        img{
            width: 50px;
        }
        &.display-none{
            opacity: 0;
            visibility: hidden;
            height: 0;
            padding: 0;
            border: 0;
            overflow: hidden;
        }
        span, span *{
            font-size: 1.2em;
            text-transform: uppercase;
            b{
                color: indigo;
            }
        }
    }
    #change-card-field{
        opacity: 1;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        transition: opacity 0.3s, visibility 0.3s;
        &.display-none{
            opacity: 0;
            visibility: hidden;
            height: 0;
            padding: 0;
            border: 0;
            overflow: hidden;
        }
        h4{
            font-size: 1.6em;
            margin-bottom: 5px;
        }
        & div:first-child h4{
            margin-top: 0;
        }
    }

    //form control for modal, added seperately from the modal.scss
    .add-card-form{
        width: 100%;
        font-size: 1.1em;
        &, & *{
            box-sizing: border-box;
        }

        .form-row-control{
            width: 100%;
            display: flex;
            border: 1px solid indigo;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            &:not(.exp-date){
                flex-wrap: wrap;
            }
            input, select, legend{
                font-family: inherit;
                font-size: inherit;
                flex-shrink: 0;
            }
            input{
                width: 100%;
                &[type=text]{
                    border: none;
                }
                &.exp-month{
                    width: 40px; 
                }
                &.exp-year{
                    width: 60px;
                }
            }
            label{
                width: 100%;
                font-size: 0.7em;
                font-weight: bold;
                &[for=exp], &[for=type]{
                    width: auto;
                }

            }

        }
    }

}
