.FeaturedItems{
    clear: both;
    .flex-container{
        padding: 10px 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    h4{
        font-weight: normal;
        padding: 10px 10%;
        box-sizing: border-box;
        color: purple;
        margin: 10px 0;
        svg{
            height: 100%;
        }
        svg path{
           stroke: white;       
        }
    }
}