.FeaturedItems{
    clear: both;
    padding: 5px 10%;
    margin-top: 10px;
    margin-bottom: 50px;
    .border-container{
        padding: 20px;
        border-radius: 5px;
        box-shadow: lightgray 2px 2px 8px 5px;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        .widget{
            margin-right: 0;
        }
    }
    .featured-title{
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: normal;
        width: auto;
        text-transform: capitalize;
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: 500;
        span{
            color: indigo;
            font-size: 1.5em;
            margin-right: 5px;
        }
    }
  
}