.Pagination{
    margin-left:auto;
    margin-right:auto;
    width: 30%;
}
.Pagination a{
    display: block;
    margin: 5px;
    font-style:normal;
    float: left;
}

.Pagination a.current circle{
    fill:navajowhite;
}