.Pagination{
    position: absolute;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 15px;
}
.Pagination a{
    display: block;
    margin: 5px;
    font-style:normal;
    float: left;
}
.Pagination a svg{
    width: 8px;
    height: 8px;
}
.Pagination a circle{
    fill: khaki;
   /* stroke-width: 1px; */
    /* //stroke: indigo; */
}

.Pagination a.current svg{
    width: 15px;
    height: 15px;
}
.Pagination a.current svg circle{
    fill: indigo;
}