#result_display{
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
    h4{
        margin-top: 0;
        color: purple;
        font-weight: 500;
    }
    .widget{
        width: 230px;
    }
}