#items-summary{
    width: 100%;
    table{
        width: 100%;
        border-spacing: 0;
        border-radius: 5px;
        border: 1px solid indigo;
        thead{
            background: indigo;
            color:white;
        }
        td,th{
            padding: 10px;
            text-align: center;
        }
        td img{
            width: 80px;
        }
        tr:not(first-child) td:nth-child(2){
            text-align: left;
            text-transform: capitalize;
        }
    }
}