#items-summary{
    width: 100%;
    table{
        width: 70%;
        float: left;
        td,th{
            text-align: center;
        }
        td img{
            width: 100px;
        }
    }
}