@font-face {
    font-family: 'Summer-Yesterday';
    src: local('Summer-Yesterday'), url(./../../fonts/summer-yesterday-font/SummerYesterday-nRn5O.ttf) format('truetype');
}
//override css attr
body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13px;
    position: relative;
    //height: 100%;//need to set this to 100% 
    #root{
        height: 100vh;//to make the whole div expand to the view height
    }
    .commercial-AQC{//the following property is to make the footer stay at the bottom
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    h4{
        font-weight: normal;
        font-size: 2em;
    }
    .site-heading{
        box-sizing: border-box;
        margin: 0;
        color: khaki;
        font-weight: normal;
        text-transform: capitalize;
        font-family: Summer-Yesterday;
    }
    button, a.btn{
        background-color: white;
        border: 1px solid purple;
        margin-right: 5px;
        text-align: center;
        transition: color .2s, background-color .2s;
        border-radius: 2px;
        font-family: 'Montserrat', sans-serif !important;
        &:hover{
            background-color: purple;
            color: white;
            cursor: pointer;
        }
        &:focus{
            border-radius: 0;
            outline: none;
        }
    }
    a.btn{
        display:block;
        text-decoration: none;
        width: auto;
    }
    .switch-wrapper {
        position: relative;
      }
       
    .switch-wrapper > div {
        position: absolute;
    }
    .top-header{
        padding: 10px 10%;
        justify-content: space-between;
        align-items: stretch;
        display: flex;
        background-color: purple;
    }
}

