$margin_top_bottom: 5px 0;
$padding_whole: 10px 10%;
#order_detail{
    padding: $padding_whole;
    display:flex;
    .detail-container{
        width: 50%;
        .payment-proceed-btn-group{
            width: 100%;
            float: right;
            margin: $margin_top_bottom;
            button{
              padding: 5px;
            }
            button.buy-now-order-detail-btn{
              background: khaki;
              color: black;
              &:hover{
                background: rgb(255, 244, 150)
              }
            }
        }
        .quantity-selector-group{
            width: 100%;
            float: left;
            margin: $margin_top_bottom;
            input[type=number]{
                width: 50px;
                border-radius: 3px;
                margin-left: 5px;
            }
        }
    }
}
.transition-enter {
    opacity: 0.01;
  }
  
  .transition-enter.transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .transition-leave {
    opacity: 1;
  }
  
  .transition-leave.transition-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }