
.left-controller-banner, .right-controller-banner {
    width: 10%;
    height: 100%;
    display:block;
    position: absolute;
    background: none;
    color: white;
    z-index: 3000;
    font-size: 1em;
    opacity: 0;
    border: none;
}
.left-controller-banner svg, .right-controller-banner svg{
    width: 25%;
    height: 20%;
}

.left-controller-banner:hover, .right-controller-banner:hover {
    background-color: rgba(128,0,128, 0.4);
    opacity: 1;
}
.left-controller-banner{
    left: 0px;
}

.right-controller-banner{
    right: 0px;
}