#check_out{
    padding: 10px 10%;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    h4{
        font-size: 1.8em;
    }
    .sub-section-checkout{
        margin-bottom: 40px;
    }
    .left-container{
        width: 65%;
        margin-right: 5%;
    }
    .right-container{
        width: 30%;
        position: relative;
    }
    .check-out-title{
        margin-bottom: 10px;
        color: indigo;
        font-size: 1.8em;
        margin-top: 0;
    }
    .awesome_form{
       box-shadow:none;
        button.submit{
            box-sizing: border-box;
            margin:0;
            background: indigo;
            color: white;
            &:hover{
                background: lighten(indigo,15);
            }
        }
    }
    .aform-field:not(.half){
        width: 100%;
    }
    .aform-field{
        box-sizing: border-box;
        label{
            font-size: 1em;
            color: indigo;
        }
    }
   
/*         &:nth-child(4){
            width: 100%;
        } */
    .close-btn-modal{
        padding: 0;
        background: none;
        :hover{
            background: none;
        }
    }
}