.pagination-controller{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    &~&{
        margin-top: 10px;
    }
    span:not(.pages-number){
        padding: 5px;
        float: left;
        transition: background-color 0.2s, color 0.2s;
        width: 20px;
        height: 20px;
        text-align: center;
        &:hover{
            cursor: pointer;
            background-color: indigo;
            color: white;
        }
    }
    span.next-btn, span.last-btn, span.prev-btn, span.first-btn{
        width: auto;
    }
    span.pages-number{
        border: none;
    }
    .cur-page-btn{
        background-color:khaki;
    }
}