$form-background: rgba($color: #fcff67, $alpha: .5);
.user-gcards-manament{
    .collapse-title{
        display: flex;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        & > span:last-child{
            width: 70px;
            max-width: auto;
            margin-left:auto;
        }
        .card-thumb{
            padding: 0;
            width: 70px;
            height: 30px;
            img{
                max-height: 100%;
            }
            
        }
    }
    .form-in-modal{
        width: 100%;
        font-size: 1.1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        &, & *{
            box-sizing: border-box;
        }
        .add-card-btn{
            margin: auto 0;
            text-align: center;
            padding: 20px;
            background-color: khaki;
            transition: background-color 0.3s;
            &:hover{
                background-color: indigo;
                color: white;
                cursor: pointer;
            }
        }
        .form-row-control{
            width: 100%;
            border: 1px solid indigo;
            border-radius: 5px;
            padding: 15px;
            align-self: stretch;
            margin-bottom: 15px;
            input, select, legend{
                font-family: inherit;
                font-size: inherit;
                flex-shrink: 0;
            }
            input{
                width: 100%;
                padding: 10px;
                padding-bottom: 5px;
                transition: background-color 0.3s, border-bottom 0.3s;
                &[type=text]{
                    border: none;
                }
                &.exp-month{
                    width: 60px; 
                    margin-right: 20px;
                    background:$form-background;
                }
                &.exp-year{
                    width: 90px;
                    background:$form-background;
                }
                &:focus{
                    outline: none;
                    background-color: $form-background;
                    border-bottom: 1px solid indigo;
                }
            }
            legend{
                width: 100%;
                font-size: 0.7em;
                font-weight: bold;
                &[for=exp], &[for=type]{
                    width: auto;
                }

            }
        }
        .half{
            width: 48%;
        }    
    }
    .title-for-card-list{
        display: flex;
        .tab-head{
            font-weight: bold;
            &.card-name{
                width: 70%;
            }
            &.card-exp{
                width: 70px;
                margin-left: auto;
                margin-right: 10px;
            }
       }
    }

}