#search_bar{
    position: relative;
    height: 25px;
    max-width: 1200px;
    display: flex;
    align-items: stretch;
    flex:  30px;
    justify-content: flex-end;
    margin-left: 10px;
    *{
        box-sizing: border-box;
    }
    input{
        height: 100%;
        width: 97%;
        border-radius: 5px 0 0 5px;
        border: 0;
    }
    a{
        display: block;
        text-decoration: none!important;
        background: white;
        padding:2px 10px;

        height: auto;
        border-radius: 0 5px 5px 0;
        border-left: 1px solid purple;
        transition: all 0.2s;
        svg{
            height: 100%;
        }
    }
    a:hover{
        background-color: khaki;
    }
    .hints{
        position: absolute;
        top:35px;
        width: 100%;
        z-index: 9000;
        background: white;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 300px;
        padding: 10px 0;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid gray;
        box-shadow: 2px 2px 7px black;
        span{
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            transition: background-color 0.2s;
            padding: 0 10px;
            &:hover{
                cursor: pointer;
                background-color:  purple;
                color: white;
            }
        }
    }
}