.Banner{
    width: 100%;
    height: 500px;
    position: relative;
}

.banner-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-item{
    width: 100%;
    background-clip: border-box ;
    overflow: hidden;
    float: left;
    height: 100%;
    display: block;
}