.Banner{
    width: 100%;
    height: 20%;
    position: relative;
    overflow: hidden;
}

.banner-box{
    height: 100%;
    position: relative;
}

.banner-item{
    float: left;
    height: 100%;
    display: block;
}
.banner-item *{
    max-width: 100%;
}
.banner-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}