.your-order{
    .hoz-order-box{
        display:flex;
        border: 1px solid  lightgray;
        border-radius: 5px;
        width: 95%;
        margin: auto;
        margin-bottom: 10px;
        .box-content{
            padding: 10px;
        }
        img{
            width: 150px;
        }
        .order-total-price{
            clear:both;
             display: block;
             color: indigo;
             font-weight: bold;
        }
        .order-name{
            width: auto;
            color: indigo;
            font-weight: 500;
            font-size: 1.2em;
        }
        .order-quantity{
        
        }
    }
}