.sign_in_up_buttons{
    div{
        display: flex;
        justify-content:flex-end;
    }
    max-width: 300px;
    a{
        display: block;
        text-decoration: none;
        color: black;
        padding: 4px;
        background: indigo;
        color: white;
        transition: all 0.5s;
        border-radius: 2px;
        margin-left: 5px;
        &:hover{
            background: white;
            color: black;
        }
    }
}