#nav_bar{
    margin:0;
    margin-right: auto;
    padding: 0;
    li{
        display: inline-block;
        padding: 5px;
        padding-left: 0;
        padding-bottom: 2px;
        border-radius: 2px;
        margin-right: 5px;
        transition: all .2s;
        border-bottom: 3px solid transparent;
        a{
            text-decoration: none !important;
            color: black;
            transition:  background-color .2s;
        }
        &:hover{
            border-bottom: 3px solid purple;
        }
        & a:hover{
            color: black;
        }

    }
}
