#nav_bar{
    margin:0;
    margin-right: auto;
    padding: 0;
    display: flex;
    li{
        padding: 5px;
        padding-left: 0;
        padding-bottom: 2px;
        border-radius: 2px;
        margin-right: 5px;
        transition: all .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid transparent;
        margin-right: 10px;
        span{
            color: indigo;
            margin-right: 2px;
        }
        a{
            text-decoration: none !important;
            color: indigo;
            transition:  background-color .2s;
        }
        &:hover{
            border-bottom: 3px solid indigo;
        }
        & a:hover{
            color: black;
        }

    }
}
