#item_detail{
    float:right;
    box-sizing: border-box;
    padding: 5px;
    span{
        display:block;
    }
    .product-price{
        color: coral;
        font: {
            weight: bold;
        }
    }
    .product-name{
        font: {
            size: 3em;
            weight: bold;
        }
    }
    span.item-in-stock{
        color:purple;
        font-weight: bold;
    }
    span.item-quantity{
        color:sienna;
    }
    span.out-of-stock{
        color: orangered;
        font-weight: bold;
    }
}