.footer{
    background: indigo;
    padding: 20px 10%;
    margin-top: auto;
    display: flex;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-right: 20px;
        color: khaki;
        text-transform: capitalize;
        .main-item{
            font-size: 1.3em;
            margin-bottom: 10px;
        }
        li{
            margin-bottom: 5px;
        }
        li a{
            color: lightyellow;
            text-decoration: none;
            font-size: 0.9em;
            &:hover{
                color: yellow;
            }
        }
    }
}