#header{
    width: 100%;
    display: flex;
    clear: both;
    height: auto;
    background: khaki;
    z-index: 8000;
    box-sizing: border-box;
    padding: 5px 10%;
    border-bottom: 1px solid darkgrey;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}