#header{
    width: 100%;
    clear: both;
    float: left;
    height: auto;
    background: khaki;
    z-index: 8000;
    box-sizing: border-box;
    padding: 5px 10%;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}