.widget{
    width: 250px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    background: white;
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s;
    margin-bottom: 10px;
    border: 1px solid purple;
    border-radius: 3px;
}
.widget img{
    box-sizing: border-box;
    padding: 0;
}
.widget:hover{
    box-shadow: 5px 5px 10px grey;
    border: 2px solid purple;
 }
.widget .out-of-stock{
    background-color:coral;
    position: absolute;
    top: 10px;
    left: 10px;
} 
.widget img{
    max-width: 100%;
}