.widget{
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    background: lightyellow;
    position: relative;
    box-sizing: border-box;
    transition: all 0.3s;
}
.widget:hover{
    background: plum;
}
.widget .out-of-stock{
    background-color:coral;
    position: absolute;
    top: 10px;
    left: 10px;
} 
.widget img{
    max-width: 100%;
}