$svg-fill: indigo ;
$svg-stroke: indigo;
#kart_detail{
    padding: 10px 10%;
    table{
        margin: auto;
        border: 1px solid indigo;
        border-radius: 5px;
        border-spacing: 0px;
        th{
            font-weight:500;
            font-size: 1.2em;
        }
        td{
            text-transform: capitalize;
            text-align: center;
            padding: 10px;
            img{
                width: 150px;
            }
        }
        tr td:nth-child(2){
            color: indigo;
            font-weight: 500;
            font-weight: 1.1em;
        }
        tr{
            padding-bottom: 20px;
        }
        tr:nth-child(2n+1){
            background: lightyellow;
        }
        tr:first-child{
            background: indigo;
            color: white;
            th{
                padding: 10px;
            }
        }
        tr td:nth-child(5){
            color: indigo;
            font-weight: bold;
        }
        input{
            width: 100%;
        }
    }
    .check-out-btn{
        margin: 10px auto;
        width: 110px;
        text-align: center;
        padding: 10px!important;
        background: khaki;
        font-size: 1.5em;
        &:hover{
            background:  rgb(255, 244, 150);
            font-weight: 500;
            color: indigo;
        }
    }
    .remove-item-btn{
        border-color: tomato;
        color: tomato;
        font-weight: 500;
        &:hover{
            background-color: tomato;
            color: white;
        }
    }
    .empty-kart-detail{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        border: 2px dashed indigo;
        text-align: center;
        width: 70%;
        height: 400px;
        margin: auto;
        border-radius: 10px;
        font-size: 1.5em;
        color: gray;
        flex-direction: column;
        svg{
            width: 80px;
            height: 80px;
            fill: $svg-fill;
            path, rect, ellipse{
                stroke: $svg-stroke;
            }
        }
        .continue-shopping-btn{
            margin-top: 20px;
            background: khaki;
            padding: 5px;
            font-size: 1em;
            width: 250px;
            border-radius: 3px;
            &:hover{
                background: indigo;
                color: white;
            }
        }
    }
}