#kart_detail{
    padding: 10px 10%;
    table{
        margin: auto;
        border: 1px solid purple;
        border-radius: 5px;
        border-spacing: 0px;
        th{
            font-weight:500;
            font-size: 1.2em;
        }
        td{
            text-transform: capitalize;
            text-align: center;
            padding: 10px;
            img{
                width: 150px;
            }
        }
        tr td:nth-child(2){
            color: purple;
            font-weight: 500;
            font-weight: 1.1em;
        }
        tr{
            padding-bottom: 20px;
        }
        tr:nth-child(2n+1){
            background: lightyellow;
        }
        tr:first-child{
            background: purple;
            color: white;
            th{
                padding: 10px;
            }
        }
        tr td:nth-child(5){
            color: purple;
            font-weight: bold;
        }
        input{
            width: 100%;
        }
    }
    .check-out-btn{
        margin: 10px auto;
        width: 110px;
        text-align: center;
        padding: 10px!important;
        background: khaki;
        font-size: 1.5em;
        &:hover{
            background:  rgb(255, 244, 150);
            font-weight: 500;
            color: purple;
        }
    }
    .remove-item-btn{
        border-color: tomato;
        color: tomato;
        font-weight: 500;
        &:hover{
            background-color: tomato;
            color: white;
        }
    }
    .empty-kart-detail{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        border: 1px dashed purple;
        text-align: center;
        width: 70%;
        height: 400px;
        margin: auto;
        border-width: 5px;
        border-radius: 10px;
        font-size: 1.5em;
        color: purple;
    }
}