$width-large-editable-field: 320px;
$width-meidum-editable-field: 220px;
.display-panel{
    .panel{
        display: none;
        border: 1px solid  purple;
        padding: 20px 10%;
        border-radius: 0 0 5px 5px;
        .panel-title{
            color: purple;
            text-transform: capitalize;
            font-size: 1.5em;
            margin: 0;
            margin-bottom: 0.8em;
            font-weight: 500;
        }
    }   
    .sub-section{
        margin-bottom: 20px;
    }
    .panel.current{
        display: flex;
    }
    & *{
        box-sizing: border-box;
    }
    #information{
        //flex-direction: column;   
        flex-wrap: wrap;
        .operation-btn{
            padding: 15px;
            display: flex;
            align-items: center;
            svg{
                margin-right: 5px;
            }
        }
        
        .information-container{
            max-width:652px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            .field-panel{
                width: 100%;
                display: flex;
                align-items: center;
                >div:first-child{
                    width: 150px;
                    padding: 15px;
                    color: purple;
                }
                margin-bottom: 5px;
            }
            .content-col{
                padding: 15px;
                display: flex;
                align-items: center;
                position: relative;
    
                &.editable{
                    padding: 0;
                }
                input{
                    padding: 15px;
                    min-width: $width-large-editable-field;
                    font-family: 'Montserrat', sans-serif;
                    display: block;
                    margin-right: 5px;
                    border: 1px solid lightgray;
                    &:focus{
                        outline: none;
                        box-shadow: purple 0 0 2px 2px;
                        margin: 1px 5px 1px 1px; 
                        border: none;
                    }
                }
                .edit-hover{
                    padding: 15px;
                    transition:  all 0.3s;
                    cursor: pointer;
                    border: 1px solid lightgray;
                    background: lightyellow;
                    border-radius: 5px;
                    min-width: $width-large-editable-field;
                }
                .edit-hover:hover{
                    &:after{
                        content: " \e3c9";
                        font-family: "Material Icons";
                        color: purple;
                        font-size: 1.4em;
                        box-sizing: border-box;
                        margin:0;
                        padding:0;
                        position: absolute;
                        right: 15px;
                    }
                    background: lightgoldenrodyellow;
                }
            }
        }
          //shipping sub section
        .shipping{
            .btn-group{
                display: flex;
                button{
                    span[class*='material']
                    {
                        margin-right: 5px;
                    }
                }
                .set-primary-btn{
                    > span{
                        display: flex;
                        align-items: center;
                    }
                    span[class*='material']
                    {
                        color: gold;
                    }
                    &.primary{
                        pointer-events: none;
                        background: purple;
                        color: white;
                        border: none;
                        span[class*='material']
                        {
                            color: gold;
                        }
                    }
                }
                .add-btn{
                    span
                    {
                        color: springgreen;
                    } 
                }
                .delete-btn{
                    span
                    {
                        color: tomato;
                    } 
                }
            }
            .select-list-container{
                margin-bottom: 10px;
                .selected{
                    color: purple;
                    font-weight: 500;
                    &.select-clicked{
                        background: purple;
                        color: white;

                    }
                }
                .list-dropdown{
                    div:hover{
                        background: lightyellow;
                    }
                }
            }
        }
        .password{
            flex-wrap: wrap;
            flex-direction: column;
            .change-password-btn{
                max-width: 200px;
                display:flex;
                justify-content: center;
                min-width: auto;
                svg{
                    color: skyblue;
                }
            }
        }
    }
}