$width-large-editable-field: 320px;
$width-meidum-editable-field: 220px;
.display-panel{
    //form style
    #modal_edit-address, #modal_add-new-address, #modal_change-password{
        min-height: auto;
        .awesome_form{
            align-items: center;
            button.submit{
                margin: 0;
            }
        }
    }
    #modal_change-password{
        .modal{
            min-height: auto!important;
        }
        flex-direction: column;
        h5{
            margin-right: auto;
        }
        .form-in-modal, .password-change-ok-message{
            opacity: 1;
            transition: all 0.5s;
        }
        button.submit{
            margin: auto;
        }
        button.not-ready{
            pointer-events: none;
            color: lightgray;
        }
        .display-none{
            display: hidden;
            opacity: 0;
            z-index: -9999;
            height: 0;
        }
        .password-change-ok-message{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .message{
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    color: green;
                    font-size: 8em;
                }
                font-size: 1.5em;
            }
            button{
                font-size: 1.5em;
                padding: 10px;
                width: 200px;
                margin-top: 20px;
            }
        }
    }
    #modal_add-new-address{
        .awesome_form{
            .aform-field:last-of-type{
                margin-left: auto;
                margin-top: auto;
                label{
                    font-size: 1.1em;
                    color: indigo;
                    font-weight: 600;
                }
                input[type=checkbox]{
                    width: 20px;
                    height: 20px;
                }
            }
            input.errorInput{
                box-shadow: red 0 0 4px 1px;
            }
            button.not-ready{
                pointer-events: none;
                color: lightgray;
            }
            .error-message{
                .error-field-item{
                    text-transform: capitalize;
                    font-weight: 600;
                    margin: 0 5px;
                }
            }
        }
    }
    .panel{
        display: none;
        border: 1px solid  indigo;
        padding: 40px 10%;
        border-radius: 0 0 5px 5px;
        width: 100%;
        .panel-title{
            color: indigo;
            text-transform: capitalize;
            font-size: 1.5em;
            margin: 0;
            margin-bottom: 0.8em;
            font-weight: 500;
        }
    }   
    .sub-section{
        margin-bottom: 20px;
    }
    .panel.current-panel{
        display: flex;
    }
    & *{
        box-sizing: border-box;
    }
    //information tab
    #information{
        //flex-direction: column;   
        flex-wrap: wrap;
        .operation-btn{
            padding: 15px;
            display: flex;
            align-items: center;
            svg{
                margin-right: 5px;
            }
        }
        
        .information-container{
            max-width:50%;
            min-width: 500px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            .field-panel{
                width: 100%;
                display: flex;
                align-items: center;
                >div:first-child{
                    width: 150px;
                    padding: 15px;
                    color: indigo;
                }
                margin-bottom: 5px;
            }
            .content-col{
                padding: 15px;
                display: flex;
                align-items: center;
                position: relative;
    
                &.editable{
                    padding: 0;
                }
                input{
                    padding: 15px;
                    min-width: $width-large-editable-field;
                    font-family: 'Montserrat', sans-serif;
                    display: block;
                    margin-right: 5px;
                    border: 1px solid lightgray;
                    &:focus{
                        outline: none;
                        box-shadow: indigo 0 0 2px 2px;
                        margin: 1px 5px 1px 1px; 
                        border: none;
                    }
                }
                .edit-hover{
                    padding: 15px;
                    transition:  all 0.3s;
                    cursor: pointer;
                    border: 1px solid lightgray;
                    background: lightyellow;
                    border-radius: 5px;
                    min-width: $width-large-editable-field;
                }
                .edit-hover:hover{
                    &:after{
                        content: " \e3c9";
                        font-family: "Material Icons";
                        color: indigo;
                        font-size: 1.4em;
                        box-sizing: border-box;
                        margin:0;
                        padding:0;
                        position: absolute;
                        right: 15px;
                    }
                    background: lightgoldenrodyellow;
                }
            }
        }
          //shipping sub section
        .shipping{
            .btn-group{
                display: flex;
                button{
                    span[class*='material']
                    {
                        margin-right: 5px;
                    }
                }
                .set-primary-btn{
                    > span{
                        display: flex;
                        align-items: center;
                    }
                    span[class*='material']
                    {
                        color: gold;
                    }
                    &.primary{
                        pointer-events: none;
                        background: indigo;
                        color: white;
                        border: none;
                        span[class*='material']
                        {
                            color: gold;
                        }
                    }
                }
                .add-btn{
                    span
                    {
                        color: springgreen;
                    } 
                }
                .edit-btn{
                    span{
                        color: skyblue;
                    }
                }
                .delete-btn{
                    span
                    {
                        color: tomato;
                    } 
                }
            }
            .select-list-container{
                margin-bottom: 10px;
                .selected{
                    color: indigo;
                    font-weight: 500;
                    &.select-clicked{
                        background: indigo;
                        color: white;

                    }
                }
                .list-dropdown{
                    div:hover{
                        background: lightyellow;
                    }
                }
            }
        }
        .password{
            flex-wrap: wrap;
            flex-direction: column;
            .change-password-btn{
                max-width: 200px;
                display:flex;
                justify-content: center;
                min-width: auto;
                svg{
                    color: skyblue;
                }
            }
        }
    }
    #payments{
        flex-wrap: wrap;
        justify-content: space-between;
        .no-card-yet{
            border: 2px dashed indigo;
            padding: 50px;
            text-align: center;
            font-size: 1.2em;
        }
        .payment-section{
            width: 46%;
            min-width: 480px;
            margin-bottom: 40px;
        }

        .title-for-card-list > span{
            font-weight: normal;
            text-transform: uppercase;
        }
        .collapse-tab{
            .collapse-title{
                align-items: center;
            }
            .card-mini-info{
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: auto;
                flex-wrap: wrap;
                .card-type{
                    background: indigo;
                    border-radius: 3px;
                    color: white;
                    padding: 2px;
                    width: 80px;
                    margin-right: 10px;
                }
                .card-number{
                    margin-left: 10px;
                    font-weight: bold;
                }
            }
        }
        button.add-new-card{
            padding: 5px;
            text-transform: uppercase;
            display:flex;
            align-items: center;
            margin-bottom: 20px;
            span{
                color: indigo;
            }
            &:hover span{
                color: white;
            }
        }
        .card-edit-remove{
            display: flex;

            button{
                display: flex;
                align-items: center;
               span{
                   margin-right: 10px;
                   font-size: 1.5em;
               }
               &:first-of-type span{
                color: skyblue;
                }
                
               &:last-of-type span{
                    color: tomato;
               }
                padding: 5px;
                &:hover span{
                    color: white;
                }
            }
        }
        .remove-card{
            .modal{
                padding: 50px;
                >div{
                    width: 100%;
                    text-align: center;
                    font-size: 1.5em;
                    margin-bottom:20px;
                    b{
                        color: indigo;
                        text-transform: capitalize;
                    }
                }
                justify-content: center;
                align-content:center;
                display: flex;
                flex-wrap: wrap;
                button:not(.close-btn-modal){
                    font-size: 1.5em;
                    width: 200px;
                    padding: 10px;
                    &:last-of-type{
                        background:darken(tomato,30);
                        color: white;
                        &:hover{
                            background: tomato;

                        }
                    }
                }
            }
        }
    }
}